    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/favorite">
        <li>
          Favorite
        </li>
        </a>
      </ul>
    </nav>